.nav {
  display: flex;
  gap: 10px;
  background: #ccc;
  justify-content: center;
  padding: 16px;
}
button {
  padding: 4px;
  border-radius: 6px;
  background-color: powderblue;
  cursor: pointer;
}